# ==========================================
# REPO-AUDITOR ENVIRONMENT VARIABLES
# ==========================================

# 1. API Keys (Do not commit this file to GitHub!)
GITHUB_TOKEN=__________________________
GEMINI_API_KEY=__________________________

# 2. Hackathon Settings
HACKATHON_START_TIME="__________________________"
HACKATHON_END_TIME="__________________________"

# 3. Agent Configuration
# Delay in seconds to avoid rate limitnig 
API_SLEEP_DELAY=4.5 

# Minimum commits expected per team member
MIN_COMMITS_PER_MEMBER=1